.about{
    //margin: 2em auto;
    min-width: none;
    max-width: none;
    border: none;
    border-radius: unset;
    margin-bottom: 1rem;
    &-body{
        text-align: justify;
    }
}

.career{
    //@include center-content;
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    @include card;
    &-header:not(h3){
        font-weight: bold;
    }
    &-header-title{
        display: flex;
        align-items: center;
        & img{
            //width: 30px;
            //height: 30px;
            margin-right: 0.5rem 0 0 0;
        }
    }
    &-details{
        & p{
            text-align: justify;
        }
    }
    &-more{
        margin-top: 0.5rem;
    }
}

.technos{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    & span{
        padding: 0 0.5rem;
        border-radius: 10px;
        margin: 0.5rem auto;
    }
}

.react{
    background-color: #5ED3F3;
}

.javascript{
    background-color: #EFD81D;
}

.node{
    background-color: #639A58;
}

.express{
    background-color: #384752;
    color: $white;
}

.mysql{
    background-color: #D88700;
}

.sass{
    background-color: #C76293;
}

.wordpress{
    background-color: #1F6F93;
    color: $white;
}

.mongodb{
    background-color: #4AB13C;
}

.html{
    background-color: #D66538;
}

.css{
    background-color: #4397C9;
}

.redux{
    background-color: #7649BB;
}