.about{
    //margin: 2em auto;
    min-width: none;
    max-width: none;
    border: none;
    border-radius: unset;
    margin-bottom: 1rem;
    &-body{
        text-align: justify;
    }
}

.career{
    //@include center-content;
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    @include card;
    &-header:not(h3){
        font-weight: bold;
    }
    &-header-title{
        display: flex;
        align-items: center;
        & img{
            margin-right: 1rem;
        }
    }
}