.contact{
    &-body{
        width: 100%;
    }
}

form{
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
}

.field{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &:not(:first-child){
        margin-top: 0.5rem;
    }
}

label{
    color: $color-3;
    font-weight: bold;
    cursor: text;
}

input, textarea{
    border: 1px solid $black;
    background-color: $color-bg-inputtxtarea;
    padding: 0.5rem;
    font-family: $font-2;
    font-size: 1rem;
    &:hover{
        box-shadow: 0 0 1rem $shadow;
    }
    &:focus-visible{
        box-shadow: -2px -2px $color-3 inset;
    }
}

textarea{
    height: 4rem;
}

.button{
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0 ;
    & .btn{
        font-family: $font-3;
        cursor: pointer;
    }
}