.home{
    height: 40%;
    width: 50%;
    justify-content: space-between;
    &-body{
        display: flex;
        flex-direction: column;
        margin: 1em;
    }
    & p{
        text-align: center;
    }
    &-button{
        margin-bottom: 1rem;
        & a{
            display: block;
        }
    }
}