.portfolio{
    padding-bottom: 1rem;
    &-header{
        text-align: center;
    }
    &-body{
        display: flex;
    }
}

.project{
    @include card;
    margin-top: 1rem;
    box-sizing: content-box;
    text-align: center;
    &-buttons{
        display: flex;
        justify-content: space-around;
    }
    &-image{
        & img{
            max-width: 17rem;
            object-fit: cover;
        }
    }
}