.portfolio{
    padding-bottom: 1rem;
    &-header{
        text-align: center;
    }
    &-body{
        display: flex;
    }
}

.project{
    @include card;
    margin-top: 1rem;
    &-buttons{
        display: flex;
        justify-content: space-around;
    }
}