//Fonts
@font-face {
    font-family: "font-1";
    src: url(./assets/fonts/JosefinSans-ExtraLight.ttf);
  }
  @font-face {
    font-family: "font-2";
    src: url(./assets/fonts/JosefinSans-Regular.ttf);
  }
  @font-face {
    font-family: "font-3";
    src: url(./assets/fonts/JosefinSans-Bold.ttf);
  }
  
  $font-1: "font-1", sans-serif;
  $font-2: "font-2", serif;
  $font-3: "font-3", serif;

// Variables
$color-1: #ECBA63;//#FD2D01;
$color-2: #7A2125 ;//#FFD7D7;
$color-3: #1F3C7A;//#4E5166;
$color-4: #BC3C47 ;//#fdeeee;
$color-5: #315FB6;
$color-bg-inputtxtarea: lighten($color-1, 30%);
$color-bg-button: $color-2;
$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);
$shadow: lighten($color-4, 10%);

// Mixins
@mixin center-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    border: 1px solid $black;
    border-radius: 25px;
    padding: 1em;
    &:not(:last-child){
        margin-right: 1em; 
    }
}

// Global
html{
    height: 100vh;
    line-height: 1.8;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    color: $black;
}

body{
    font-family: $font-2;
}

main{
    @include center-content;
    min-height: 82vh;
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: opacity 0.5s ease 250ms;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../../public/img/backgrounds/bg3.webp');
        opacity: 1;
        z-index: -101;
    }
}

section{
    @include center-content;
    margin: auto;
    padding: 0 1rem;
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: $white;
    min-width: 50%;
    max-width: 80%;
}

.container{
    min-width: 50%;
    max-width: 70%;
}

h1, h2, h3{
    font-family: $font-2;
    color: $color-3;
}

h1{
    font-size: 1.5rem;
    margin-left: 1rem;
}

h2{
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

h3{
    font-size: 1.1rem;
}

a{
    color: $color-3;
    &:hover{
        color: $color-2;
        text-decoration: underline;
    }
}

.icon{
    width: 2rem;
    height: 2rem;
}

.btn{
    border: 1px solid $black;
    border-radius: 25px;
    background-color: $color-bg-button;
    padding: 0.5rem;
    color: $white;
    &:hover{
        transform: scale(1.1);
        transition: 100ms;
        background-color: $color-4;
        color: $black;
        text-decoration: none;
    }
}

.technos{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    & span{
        padding: 0 0.5rem;
        border-radius: 10px;
        margin: 0.5rem auto;
    }
}

.react{
    background-color: #5ED3F3;
}

.javascript{
    background-color: #EFD81D;
}

.node{
    background-color: #639A58;
}

.express{
    background-color: #384752;
    color: $white;
}

.mysql{
    background-color: #D88700;
}

.sass{
    background-color: #C76293;
}

.wordpress{
    background-color: #1F6F93;
    color: $white;
}

.mongodb{
    background-color: #4AB13C;
}

.html{
    background-color: #D66538;
}

.css{
    background-color: #4397C9;
}

.redux{
    background-color: #7649BB;
}